In [1]:
# pandas : 데이터 분석 -> 데이블 형태로 처리
# 1차원 구조 : Series , 2차원 구조 : DataFrame
# pip install pandas

In [3]:
import pandas as pd

In [4]:
no_class = pd.Series(["1반", "2반", "3반", "4반", "5반"])
no_class

0    1반
1    2반
2    3반
3    4반
4    5반
dtype: object

In [5]:
data_dic = { 'year':[2018, 2019, 2020], 'sales':[250, 480, 1099]}
data_dic

{'year': [2018, 2019, 2020], 'sales': [250, 480, 1099]}

In [6]:
df1 = pd.DataFrame(data_dic)
df1

   year  sales
0  2018    250
1  2019    480
2  2020   1099

In [8]:
# value : ndarray, index는 row 이름, columns 은 column 이름
df2 = pd.DataFrame([[89.2, 92.5, 90.8], [92.8, 89.9, 95.2]], index=["mid-term", "Final-term"], columns=no_class[0:3])
df2

              1반    2반    3반
mid-term    89.2  92.5  90.8
Final-term  92.8  89.9  95.2

In [13]:
data3 = [["김철수", 95, 93], ["이영희", 90, 98]]
indexing = ['2017111399', '2017110958']
df3 = pd.DataFrame(data3, index=indexing, columns = ['이름','중간고사', '기말고사'])
df3

             이름  중간고사  기말고사
2017111399  김철수    95    93
2017110958  이영희    90    98

In [16]:
data4 = [["2017111399", "김철수", 95, 93], ["2017110958","이영희", 90, 98], ["2017984023", "박훈이", 97, 76], ["2017256498", "최유리", 87, 65]]
df4 = pd.DataFrame(data4, columns=["학번", "이름", "중간고사", "기말고사"])
df4

           학번   이름  중간고사  기말고사
0  2017111399  김철수    95    93
1  2017110958  이영희    90    98
2  2017984023  박훈이    97    76
3  2017256498  최유리    87    65

In [17]:
df4.head(2)

           학번   이름  중간고사  기말고사
0  2017111399  김철수    95    93
1  2017110958  이영희    90    98

In [18]:
df4.tail(2)

           학번   이름  중간고사  기말고사
2  2017984023  박훈이    97    76
3  2017256498  최유리    87    65

In [19]:
df4['이름']

0    김철수
1    이영희
2    박훈이
3    최유리
Name: 이름, dtype: object

In [20]:
df4['중간고사']

0    95
1    90
2    97
3    87
Name: 중간고사, dtype: int64

In [25]:
df4.to_csv("/Users/mac/Desktop/데이터 과학 기반의 파이썬 빅데이터 분석/01_파이썬 프로그래밍 기초/데이터 분석을 위한 주요 라이브러리/성적.csv", header='True')

In [27]:
df5 = pd.read_csv("/Users/mac/Desktop/데이터 과학 기반의 파이썬 빅데이터 분석/01_파이썬 프로그래밍 기초/데이터 분석을 위한 주요 라이브러리/성적.csv", encoding='utf-8', index_col = 0, engine="python")
df5

           학번   이름  중간고사  기말고사
0  2017111399  김철수    95    93
1  2017110958  이영희    90    98
2  2017984023  박훈이    97    76
3  2017256498  최유리    87    65