In [1]:
# pandas : 데이터 분석 -> 테이블 형식으로 처리
# pip install pandas

In [4]:
import pandas as pd
pd.__version__

'1.3.4'

In [21]:
data1 = [10, 20, 30, 40, 50]
data2 = ["1반", "2반", "3반", "4반", "5반"]

In [9]:
# list로 부터 1차원 자료구조인 Series 생성
sr1 = pd.Series(data1)
sr2 = pd.Series(data2)

In [10]:
sr1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
sr2

0    1반
1    2반
2    3반
3    4반
4    5빈
dtype: object

In [12]:
sr3 = pd.Series([101, 102, 103, 104, 105])
sr4 = pd.Series(['월', '화', '수', '목', '금'])

In [13]:
sr3

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [14]:
sr4

0    월
1    화
2    수
3    목
4    금
dtype: object

In [15]:
sr5 = pd.Series(data1, index= [1000, 1001, 1002, 1003, 1004])
sr5

1000    10
1001    20
1002    30
1003    40
1004    50
dtype: int64

In [22]:
sr6 = pd.Series(data1, index = data2)
sr6

1반    10
2반    20
3반    30
4반    40
5반    50
dtype: int64

In [23]:
sr7 = pd.Series(data2, index = data1)
sr7

10    1반
20    2반
30    3반
40    4반
50    5반
dtype: object

In [24]:
sr8 = pd.Series(data2,index = sr4)
sr8

월    1반
화    2반
수    3반
목    4반
금    5반
dtype: object

In [25]:
sr8[2]

'3반'

In [26]:
sr8['수']

'3반'

In [27]:
sr8[-1]

'5반'

In [28]:
sr8[0:4]

월    1반
화    2반
수    3반
목    4반
dtype: object

In [31]:
sr8.index

Index(['월', '화', '수', '목', '금'], dtype='object')

In [32]:
sr8.values

array(['1반', '2반', '3반', '4반', '5반'], dtype=object)

In [33]:
sr1 + sr3

0    111
1    122
2    133
3    144
4    155
dtype: int64

In [35]:
sr4 + sr2

0    월1반
1    화2반
2    수3반
3    목4반
4    금5빈
dtype: object